@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #f5f5f5;
    font-family: 'Asap', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    width: calc(100% - 50px);
    line-height: 1.4;
}

a {
    color: #000;
}

/* TYPO */
.text-orange {
    color: #FC4C02;
}

.section-title {
    color: #000;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin: 1em 0;
    text-transform: uppercase;
}

/* NAV */
.side-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}

.side-bar-header {
    font-size: 1.5em;
    margin: 20% auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.side-bar-header:hover {
    cursor: pointer;
}

.side-bar-footer {
    position: absolute;
    bottom: 1%;
    right: 12px;
    font-size: 1.5em;
}

.hamburger-btn {
    position: absolute;
    top:50%;
    right: 25px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.hamburger-btn span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 50%;
    height: 2px;
    background-color: #000;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.hamburger-btn:hover {
    transform: rotate(90deg);
}

.hamburger-btn span:nth-child(1) {
    top: 30%;
}
.hamburger-btn span:nth-child(2) {
    top: 50%;
}
.hamburger-btn span:nth-child(3) {
    top: 70%;
}

nav {
    z-index: 9;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

nav.active {
    opacity: 1;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.hamburger-btn.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-btn.active span:nth-child(2) {
    display: none;
}
.hamburger-btn.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
}

nav .links {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

nav .links a {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
}

nav .links a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 6px;
    width: 0%;
    opacity: 0;
    background: linear-gradient(270deg, #ff7f00 0%, #f18b42 100%);
    background: -webkit-linear-gradient(270deg, #ff7f00 0%, #f18b42 100%);
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

nav .links a:hover:after {
    opacity: 1;
    width: 100%;
}

/* HERO */
.hero {
    height: 100vh;
}

.hero .wrapper {
    height: 100%;
}

.hero .text {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 2.5em;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* ABOUT */
.about {
    background: linear-gradient(270deg, #ff7f00 0%, #f18b42 100%);
    background: -webkit-linear-gradient(270deg, #ff7f00 0%, #f18b42 100%);
    display: flex;
    overflow: hidden;
}

.about-image {
    width: 33%;
}

.about-title {
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 30px 0;
}

.about-image img {
    width: 100%;
    height: 100%;
}

.about-info {
    width: 67%;
    padding: 0 50px;
    color: #fff;
}

.works {
    width: 90%;
    margin: auto;
}

.work {
    display: flex;
    margin-bottom: 8em;
}

.work.right {
    flex-direction: row-reverse;
}

.work-header {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    z-index: 1;
}

.work-header h2 {
    font-size: 3em;
    margin: 1em;
}

.work-header p {
    width: 70%;
    line-height: 1.4;
}

.work-content {
    width: 67%;
    position: relative;
}

.work-content:before {
    content: "";
    position: absolute;
    top: 25%;
    left: -25%;
    height: 80%;
    width: 100%;
    background-color: #ffbf80;
    z-index: -1;
}

.work.right .work-content:before {
    left: 25%;
}

.work-content img {
    max-width: 100%;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}

@media only screen and (max-width: 1024px) {
    nav .links {
        left: 40%;
    }

    .hero .text {
        left: 10%;
    }

    .about {
        flex-direction: column;
    }

    .about-image {
        width: 100%;
    }

    .about-info {
        width: 100%;
    }

    .work {
        margin-bottom: 2em;
    }

    .work, .work.right {
        flex-direction: column-reverse;
    }

    .work-content:before  {
        left: -5%;
    }

    .work.right .work-content:before {
        left: 5%;
    }

    .work-header, .work-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    .section-title {
        font-size: 2em;
    }
    .hero .text {
        left: 2%;
        font-size: 1em;
    }

    .about-title {
        font-size: 1em;
    }

    .about-info {
        padding: 10px;
    }

    .work-header h2 {
        font-size: 1.4em;
    }

    .work-header p {
        width: 100%;
        font-size: 1em;
    }
}