@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

.title {
  font-family: Outfit, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1;
  text-align: center;
  background-color: #A478E8;
  background-image: linear-gradient(90deg, #A478E8 0%, #516CF7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.subtitle {
  text-align: center;
  color: #2E2E48;
  font-family: Outfit, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
}

.button {
  background: linear-gradient(90deg, #A478E8 0%, #516CF7 100%);
  padding: 8px 25px;
  color: #FFF;
  font-family: "DM Sans";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.01875rem;
  text-decoration: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.blur-shape {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4AC06F;
  opacity: 0.5;
  filter: blur(50px);
  z-index: -1;
}

.stick-container {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: -1;
}

.stick-shape {
  width: 35px;
  background-color: #4AC06F;
  border-radius: 50px;
  opacity: 10%;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .button {
    font-size: 1.5rem;
  }
}
/* HEADER */
header {
  background-color: #f8f8f8;
  z-index: 100;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}
header a {
  color: #2E2E48;
  text-decoration: none;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin-left: 20px;
}
@media (max-width: 768px) {
  header {
    padding: 0 20px;
  }
}

#hero {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero #left {
  border: 1px solid #e7e7e7;
  width: 50%;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
}
#hero #left img {
  position: absolute;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#hero #left .stick-container {
  top: 50%;
  left: 50%;
  align-items: center;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -moz-transform: rotate(45deg) translate(-50%, -50%);
  -ms-transform: rotate(45deg) translate(-50%, -50%);
  -o-transform: rotate(45deg) translate(-50%, -50%);
}
#hero #right {
  border: 1px solid #e7e7e7;
  width: 50%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
#hero #right .subtitle {
  margin-top: 20px;
}
#hero #right ul {
  margin: 20px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero #right ul li {
  margin: 0 10px;
}
#hero #right ul li a img {
  width: 30px;
  height: 30px;
}
#hero #right .button {
  margin-top: 20px;
}
#hero #right .stick-container {
  top: -50px;
  right: 0;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
@media (max-width: 768px) {
  #hero {
    flex-direction: column-reverse;
    width: 100%;
  }
  #hero #left {
    width: 100%;
  }
  #hero #right {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */